$PRIMARY_THEME: #808490;
$SECONDARY_THEME: '#F6F6F6',
$BACKGROUND_COLOR: #FFFFFF;
$WHITE: #FFFFFF;
$BLACK: #000000;
$TEXT_PRIMARY: #333333;
$GREY: #999999;
$SHADOW_COLOR: rgba(0, 0, 0, 0.25);
$YELLOW: #E09E00;